@import '/src/components/recycleComponent/Header/Header.module.css';

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    margin: 0; /* 여백 제거 */
    height: 100vh; /* 전체 화면 높이 사용 */
    overflow: hidden;
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
    color: darkgray;
    font-size: 14px;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: auto; /* 위 아래에서 가운데 정렬을 위한 마진 추가 */
}

.login-box {
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 80%; /* 로고의 최대 너비 */
    height: auto; /* 비율 유지 */
}

.login-box img {
    width: 100%; /* 로그인 폼의 너비에 맞춤 */
    height: auto; /* 비율 유지 */
}

.login-form text {
    font-size: 18px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: flex-end;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    width: 100%;
}

.link-container {
    display: flex;
    margin-left: auto;
}

.links a {
    margin-left: 20px;
    text-decoration: none;
    color: #424242;
    font-size: 12px;
}

.links a:hover {
    text-decoration: underline;
}

.google-login {
    background: none;
    width: 160px;
    align-items: left;
    justify-content: left;
    padding: 0;
}

.google-login img {
    position: sticky;
    width: 160px;
    align-content: left;
}

.placeholder-font text {
    font-family: 'Noto Sans kr';
}