input {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #424242;
    font-family: 'Noto Sans KR', sans-serif;
}

.checkboxContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
    width: 105%;
}

input[type="checkbox"] {
    margin-right: 2px;
    width: auto;
}


.loginButton {
    background-color: #feb913;
    color: 	#424242;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Noto Sans kr';
    font-size: 18px;
    width: 105%;
}

.googleLogin {
    border: none;
    background-color: #ffffff;
}

.googleLoginButton {
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
}

.signupContainer{
    width: 105%;
    display: flex;
    justify-content:space-between; 
    margin-top: 3%;
}

.MindinCanvasImage {
    width: 100%;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    position: relative;
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
    color: darkgray;
    font-size: 14px;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row; /* 요소를 가로로 배치 */
    align-items: center;
    gap: 50px;
    max-height: 100vh; /* 뷰포트 높이를 넘지 않도록 제한 */
}

.TextLogoImage {
    width: 100%;
    height: 50%;
}

@media screen and (max-width: 900px) { /* 가로 폭이 768px 이하일 때 */

    .content {
        flex-direction: column; /* 세로 방향 정렬 */
    }
    
    .loginContainer {
        margin-right: 30px;
        
    }
    .MindinCanvasImage {
        width: 50%;
    }
    .TextLogoImage {
        width: 100%;
        height: 30%;
    }
    .signupLink {
        font-size: 17px;
    }
}

.loginbox {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 80%; /* 로고의 최대 너비 */
    height: auto; /* 비율 유지 */
}


.login-form text {
    font-size: 18px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: flex-end;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    width: 100%;
}

.links a {
    margin-left: 20px;
    text-decoration: none;
    color: #424242;
    font-size: 12px;
}

.links a:hover {
    text-decoration: underline;
}

.google-login {
    background: none;
    width: 160px;
    align-items: left;
    justify-content: left;
    padding: 0;
}

.google-login img {
    position: sticky;
    width: 160px;
    align-content: left;
}
