/* src/pages/ChooseKid/ChooseKid.module.css */

/* Header 스타일 조정 */
.header {
    position: relative; /* 위치 조정 */
    z-index: 10; /* 겹침 방지 */
    background-color: #f8f9fa; /* 배경색 추가 */
    padding: 20px; /* 패딩 추가 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.container {
    padding: 20px; /* 패딩 추가 */
    text-align: center;
    display: flex; /* 플렉스 박스 사용 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
    height: calc(100vh - 80px); /* 전체 높이에서 Header 높이 제외 */
}

/* account-list 스타일 조정 */
.accountlist {
    margin-top: 30px;
    border: #464646;
    display: flex; /* 플렉스 박스 사용 */
    justify-content: center; /* 중앙 정렬 */
    flex-wrap: wrap; /* 줄 바꿈 허용 */
    gap: 50px; /* 아이템 간격 추가 */
}


.accountitem img {
    width: 100px; /* 이미지 너비 설정 */
    height: 150px; /* 이미지 높이 설정 */
    object-fit: cover; /* 이미지 비율 유지 */
}

.accountlist p {
    text-align: center;
}